{% extends 'base.html' %}

{% from 'components/front_page.html' import front_page %}
{% from 'components/bike_card.html' import bike_card %}

{% block components_style %}
<link rel="stylesheet" href="{{url_for('static', path='/css/index_style.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='/css/components/front_page_style.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='/css/components/skew_button_style.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='/css/components/bike_card_style.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='/css/components/atl_button_style.css')}}">
{% endblock %}

{% block content %}
    <section class="index__portada"></section>
        {{ front_page({
            "bg_color": "var(--main-color)",
            "title": "Muévete con libertad.",

            "subtitle": "En ATL bikes creemos que cada trayecto comienza con la bicicleta adecuada.",

            "image": "/static/img/ciclismo_agua_mexico_ATL.webp",
            "title_color": "var(--white-color)",
            "subtitle_color": "var(--pino-claro)",
            "button_content": {
                "text": "Encontrar mi bicicleta",
                "colors": {
                    "text": "var(--white-color)",
                    "background": "var(--secondary-color)",
                    "hover_text": "var(--white-color)",
                    "outline": "var(--white-color)",
                    "hover_outline": "var(--pino-oscuro)",
                    "shadow": "var(--pino-oscuro)"
                }
            }

        }) }}
    </section>
    <section class="index__productos-destacados">
        <h2 class="index__h2">BICICLETAS <span>DESTACADAS</span></h2>

        <section class="index__cards-productos">
            {{ bike_card({
                "link": {
                "url": "#"
                },

                "image": {
                    "src": "/static/img/bicicleta-alubike-revel-silver-sora.webp",
                    "alt": "Bicicleta Alubike Revel Silver Sora"
                },

                "text": {
                    "brand": "Alubike",
                    "name": "Bicicleta Alubike Revel Silver Sora"
                },

                "price": {
                    "show_old": false,
                    "current": "$19,499.00"
                },

                "button_content": {

                    "content": {
                        "text": "Añadir al carrito"
                    },
                    "colors": {
                        "text_color": "var(--secondary-color)",
                        "text_hover": "var(--white-color)",
                        "border": "var(--secondary-color)",
                        "blob": "var(--secondary-color)"
                    }
                },

                "style": {

                    "brand_color": "var(--pino-oscuro)",
                    "name_color": "var(--black-color)",

                    "old_price_color": "var(--tierra-claro-color)",
                    "current_price_color": "var(--main-color)",

                    "shadow_color": "var(--main-color)"
                }
            }) }}
            {{ bike_card({
                "link": {
                "url": "#"
                },

                "image": {
                    "src": "/static/img/2026_FULL_grail_cf-sl-8-1by.webp",
                    "alt": "Grail CF 8 1by"
                },

                "text": {
                    "brand": "Canyon",
                    "name": "Grail CF 8 1by"
                },

                "price": {
                    "show_old": true,
                    "old": "$51,749",
                    "current": "$39,464"
                },

                "button_content": {

                    "content": {
                        "text": "Añadir al carrito"
                    },
                    "colors": {
                        "text_color": "var(--secondary-color)",
                        "text_hover": "var(--white-color)",
                        "border": "var(--secondary-color)",
                        "blob": "var(--secondary-color)"
                    }
                },

                "style": {

                    "brand_color": "var(--pino-oscuro)",
                    "name_color": "var(--black-color)",

                    "old_price_color": "var(--tierra-claro-color)",
                    "current_price_color": "var(--main-color)",

                    "shadow_color": "var(--main-color)"
                }
            }) }}
            {{ bike_card({
                "link": {
                "url": "#"
                },

                "image": {
                    "src": "/static/img/bicicleta-cannondale-topstone-carbon-1-rle.webp",
                    "alt": "Bicicleta Cannondale Topstone Carbon 1 RLE"
                },

                "text": {
                    "brand": "Cannondale",
                    "name": "Bicicleta Cannondale Topstone Carbon 1 RLE"
                },

                "price": {
                    "show_old": true,
                    "old": "$159,990",
                    "current": "$127,992"
                },

                "button_content": {

                    "content": {
                        "text": "Añadir al carrito"
                    },
                    "colors": {
                        "text_color": "var(--secondary-color)",
                        "text_hover": "var(--white-color)",
                        "border": "var(--secondary-color)",
                        "blob": "var(--secondary-color)"
                    }
                },

                "style": {

                    "brand_color": "var(--pino-oscuro)",
                    "name_color": "var(--black-color)",

                    "old_price_color": "var(--tierra-claro-color)",
                    "current_price_color": "var(--main-color)",

                    "shadow_color": "var(--main-color)"
                }
            }) }}
        </section>
    </section>
{% endblock %}



{% block component_scripts %}
{% endblock %}